<div class="container">
  <div class="home-banner">

    <h1 id = "banner-typed-text"></h1>

    <a href="#skills">What Can i Do</a>
    <a href="#">I need a Website</a>
  </div>
<div>
  <h1>I am an <strong>Awesome</strong> Web Developer and Ui Designer</h1>
  <p>I Believe in reusable and clean code, using the latest frameworks and keeping my knowledge up to date through daily coding challenges</p>
  <h1>My Mission</h1>
  <p>Is to provide the services of a full sized agency for a fraction of the cost. I have every aspect covered from design and content right through to development needs. My goal is to form a lasting relationship with clients by providing the best possible service as well as perfect customer experience. I aim to be invested in your web application and want it to suceed as much as you do. Being a product manager i understand the struggle of waiting for small features to be fixed before big features can be continued.</p>
</div>
<!-- Skills -->
  <h1>My Skills</h1>
  <a name="skills"></a>
  <div class="col-md-6 col-sm-8 col-xs-12">
    <!-- img -->
    <!-- lorem -->
  </div>
  <div class="col-md-6 col-sm-8 col-xs-12">
    <!-- img -->
    <!-- lorem -->
  </div>
    <div class="col-md-6 col-sm-8 col-xs-12">
    <!-- img -->
    <!-- lorem -->
  </div>
    <div class="col-md-6 col-sm-8 col-xs-12">
    <!-- img -->
    <!-- lorem -->
  </div>
<!-- Skills -->

<h1>Design</h1>
<p>My skills with Photoshop and Figma allow me to create beautiful and engaging web graphics and Wireframes</p>

<h1>Branding</h1>
<p>One of the biggest reasons online businesses fail is poor branding or marketing. Alloew me to build a brand everyone will love and market it properly. Marketing in 2018 is by far the biggest neccessity, with so many brands already on the table you need someone to push for yours to be the best, easiest to use and the most feature rich</p>

<!-- quotes from others -->


<!-- quotes from others -->

<!-- portfolio tabs -->
<!-- different librarys frameworks/librarys -->
<!-- portfolio tabs -->
<h1>Why Choose Me</h1>
<h3>Design</h3>
<p>Have a crazy idea? i can make it possible, ensuring no cookie cutter templates</p>
<h3>User Experience</h3>
<p>People have so many options on the internet if a simpple sign up form needs too many details or a dashboard doesnt refresh automatically a user will  be put off of your product i understand how to make these features smooth.</p>
<h3>Fully Responise</h3>
<p>It's 2018 most of your customers will probably be mobile first, on top of this most will probably have retina displays i understand that these are neccessities by this point </p>
</div>
